include AUTHORS.md
include CONTRIBUTING.md
include CHANGELOG.md
include LICENSE
include README.md

recursive-include choppa/data *
recursive-include docs *.md
recursive-include tests *
recursive-exclude * __pycache__
recursive-exclude * *.py[co]
